/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2016, 1:34:54 AM
    Author     : Jacob
*/

.ui-datepicker {
    width: 13em !important;
    font-size: 12px !important;
}
.ui-state-default {
    width: 14px !important;
}
.ui-datepicker-title {
    color: #15c !important;
}
.ui-datepicker-header {
    background-color: #fff !important;
    border: none !important;
}
.ui-datepicker a.ui-state-default {
    border: none !important;
    background-color: #fff !important;
}
.ui-datepicker a.ui-state-hover {
    background-color: #eee !important;
}
.ui-datepicker a.ui-state-active {
    border: 1px solid #777 !important;
    background-color: #dee9fc !important;
    font-weight: bold;
    color: #454545 !important;
}
.ui-datepicker a.ui-state-highlight {
    background-color: #dee9fc !important;
}