/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2016, 6:48:22 AM
    Author     : Jacob
*/

/*====================================*/
/*==========|    Classes   |==========*/
/*====================================*/

.details-eventcolors {
    height: 14px;
    width: 14px;
    cursor: pointer;
    border: 1px solid black;
    margin: 0px 1px;
    display: inline-block;
}
.details-eventcolors-selected {
    
} /*empty*/

.details-notifications {
    margin-bottom: 5px;
}
.details-notifications-hidden {
    display: none;
}
.details-notifications-remindertime {
    padding: 1.5px !important;
    width: 2em;
    text-align: right;
}
.details-notifications-x {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
}

.details-visibility-info-hidden {
    display: none;
}

/*====================================*/
/*==========|     ID's     |==========*/
/*====================================*/

#details-color-separator {
    background-color: #ababab;
    height: 16px;
    margin: 0 5px;
    width: 1px;
    vertical-align: top;
    display: inline-block;
}

#details-notifications-1 {
    
} /*empty*/
#details-notifications-2 {
    
} /*empty*/
#details-notifications-3 {
    
} /*empty*/
#details-notifications-4 {
    
} /*empty*/
#details-notifications-5 {
    
} /*empty*/
#details-notifications-add {
    margin-bottom: 5px;
}
#details-notifications-addlink {
    
} /*empty*/
#details-notifications-none {
    margin-bottom: 5px;
    color: gray;
}
#details-notifications-x-1 {
    
} /*empty*/
#details-notifications-x-2 {
    
} /*empty*/
#details-notifications-x-3 {
    
} /*empty*/
#details-notifications-x-4 {
    
} /*empty*/
#details-notifications-x-5 {
    
} /*empty*/