/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2016, 10:40:47 PM
    Author     : Jacob
*/

/*====================================*/
/*========|      Classes     |========*/
/*====================================*/



/*====================================*/
/*========|       ID's       |========*/
/*====================================*/

#el-btn-create {
    
} /*empty*/

#el-header {
    margin-top: 0;
}

#el-top-buttons {
    margin-top: 16px;
}

