/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 8:44:59 PM
    Author     : Jacob
*/

/*====================================*/
/*========|      Classes     |========*/
/*====================================*/

.ne-ipt-wrapper {
    
} /*empty*/

.ne-label {
    
} /*empty*/

.ne-container-section {
    border-bottom: 1px solid #ebebeb;
    padding: 16px;
    margin: 4px 0px 4px 0px;
}

/*====================================*/
/*========|       ID's       |========*/
/*====================================*/

#ne-btn-reset {
    
} /*empty*/
#ne-btn-send {
    
} /*empty*/

#ne-container-details {
    border-spacing: 0;
    max-width: 600px;
}

#ne-details {
/*    max-width: 930px;
    min-width: 600px;*/
}

#ne-evt-available {
    
} /*empty*/
#ne-evt-busy {
    
} /*empty*/
#ne-evt-calendar {
    
} /*empty*/
#ne-evt-date-end {
    
} /*empty*/
#ne-evt-date-start {
    
} /*empty*/
#ne-evt-description {
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    padding: 3px;
}
#ne-evt-notifications {
    
} /*empty*/
#ne-evt-notifications-time {
    padding: 1.5px;
    width: 2em;
    text-align: right;
} /*empty*/
#ne-evt-notifications-timetype {
    
} /*empty*/
#ne-evt-repeatbox {
    cursor: pointer;
} /*empty*/
#ne-evt-time-end {
    
} /*empty*/
#ne-evt-time-start {
    
} /*empty*/
#ne-evt-title {
    width: 100%;
    max-width: 450px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
#ne-evt-where {
    width: 98.5%;
}

#ne-guests {
    
} /*empty*/

#ne-header {
    
} /*empty*/
#ne-header-link {
    font-size: 24px;
    color: #da4b38;
    text-decoration: none;
    font-weight: bold;
}
#ne-header-title {
    border-bottom: none;
}

#ne-label-repeatbox {
    
} /*empty*/

#ne-top-buttons {
    padding-top: 16px;
}
#ne-top-repeat {
    padding-top: 16px;
}
#ne-top-time {
    
} /*empty*/
#ne-top-timegroup {
    padding-top: 16px;
}
#ne-top-time-endgroup {
    
} /*empty*/
#ne-top-time-startgroup {
    
} /*empty*/
#ne-top-time-to {
    
} /*empty*/
#ne-top-title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}
