/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 8:44:59 PM
    Author     : Jacob
*/

/*====================================*/
/*========|      Classes     |========*/
/*====================================*/

.ne-container-section {
    border-bottom: 1px solid #ccc;
    padding: 16px;
    margin: 4px 0px 4px 0px;
}
.ne-container-inline {
    display: inline-block;
}

.ne-dropdown-timestart-item {
    
} /*empty*/
.ne-dropdown-timeend-item {
    
} /*empty*/

.ne-guests-header {
    font-weight: bold;
    
}

.ne-ipt-wrapper {
    
} /*empty*/

.ne-label {
    
} /*empty*/

/*====================================*/
/*========|       ID's       |========*/
/*====================================*/

#ne-btn-reset {
    
} /*empty*/
#ne-btn-send {
    
} /*empty*/

#ne-container-details {
    border-spacing: 0;
    width: 100%;
    float: left;
    max-width: 850px;
}
#ne-container-guests {
    float: right;
    padding: 0;
    vertical-align: top;
}

#ne-details {
    padding-right: 300px;
}

#ne-dropdown-timeend {
    
} /*empty*/
#ne-dropdown-timeend-panel {
    
} /*empty*/
#ne-dropdown-timestart {
    
} /*empty*/

#ne-evt-available {
    
} /*empty*/
#ne-evt-busy {
    
} /*empty*/
#ne-evt-calendar {
    
} /*empty*/
#ne-evt-date-end {
    
} /*empty*/
#ne-evt-date-start {
    
} /*empty*/
#ne-evt-description {
    width: 100%;
    resize: none;
    overflow: hidden;
    font-family: inherit;
    padding: 3px;
}
#ne-evt-notifications-1 {
    
} /*empty*/
#ne-evt-notifications-2 {
    
} /*empty*/
#ne-evt-notifications-3 {
    
} /*empty*/
#ne-evt-notifications-4 {
    
} /*empty*/
#ne-evt-notifications-5 {
    
} /*empty*/
#ne-evt-notifications-time-1 {
    
} /*empty*/
#ne-evt-notifications-time-2 {
} /*empty*/
#ne-evt-notifications-time-3 {
} /*empty*/
#ne-evt-notifications-time-4 {
} /*empty*/
#ne-evt-notifications-time-5 {
} /*empty*/
#ne-evt-notifications-timetype-1 {
    
} /*empty*/
#ne-evt-notifications-timetype-2 {
    
} /*empty*/
#ne-evt-notifications-timetype-3 {
    
} /*empty*/
#ne-evt-notifications-timetype-4 {
    
} /*empty*/
#ne-evt-notifications-timetype-5 {
    
} /*empty*/
#ne-evt-repeatbox {
    cursor: pointer;
} /*empty*/
#ne-evt-time-end {
    
} /*empty*/
#ne-evt-time-start {
    
} /*empty*/
#ne-evt-title {
    width: 100%;
    max-width: 450px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
#ne-evt-visibility-default {
    
} /*empty*/
#ne-evt-visibility-public {
    
} /*empty*/
#ne-evt-visibility-private {
    
} /*empty*/
#ne-evt-where {
    width: 98.5%;
}

#ne-guests {
    width: 250px;
}
#ne-guests-addbutton {
    
} /*empty*/
#ne-guests-addbutton-wrapper {
    font-size: 11px;
    height: 27px;
    min-width: 54px;
    margin-left: 2px;
}
#ne-guests-emailinput {
    padding: 1px;
}
#ne-guests-inputzone {
    padding-left: 10px;
}

#ne-header {
    
} /*empty*/
#ne-header-link {
    font-size: 24px;
    color: #da4b38;
    text-decoration: none;
    font-weight: bold;
}
#ne-header-title {
    border-bottom: none;
}

#ne-label-repeatbox {
    
} /*empty*/

#ne-top-buttons {
    padding-top: 16px;
}
#ne-top-repeat {
    padding-top: 16px;
}
#ne-top-time {
    
} /*empty*/
#ne-top-timegroup {
    padding-top: 16px;
}
#ne-top-time-endgroup {
    
} /*empty*/
#ne-top-time-startgroup {
    
} /*empty*/
#ne-top-time-to {
    
} /*empty*/
#ne-top-title {
    font-size: 16px;
    font-weight: bold;
    border-bottom: none;
}
