/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2016, 8:43:02 PM
    Author     : Jacob
*/

/*====================================*/
/*==========|    Classes   |==========*/
/*====================================*/

.ui-cboxinput {
    
} /*empty*/

.ui-date, .ui-time {
    width: 65px;
    margin-right: 4px;
}

.ui-placeholder {
    color: #888;
}
.ui-placeholder::-moz-placeholder {
    content: "Untitled Event";
    font-weight: bold;
    font-size: 16px;
}
.ui-placeholder::-webkit-input-placeholder {
    content: "Untitled Event";
    font-weight: bold;
    font-size: 16px;
}
.ui-placeholder::-moz-placeholder:focus {
    
}

.ui-textinput {
    padding: 5px;
    border: 1px solid;
    border-color: #c0c0c0 #d9d9d9 #d9d9d9;
}
.ui-textinput:focus {
    border-color: #4d90fe;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    outline: none;
}
.ui-textinput:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

/*====================================*/
/*==========|     ID's     |==========*/
/*====================================*/

